// Variables
@nav-bg-color: #bedfe1;
@nav-font: @river-bend;

// Color vars

@river-bend: #454A59;

// Mixins
.nav-bg-color {
    background-color: @nav-bg-color;
}

// Navigation code here

.navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    h1 {
        font-size: 4.0rem;
        line-height: 2;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;

        a {
            color: @river-bend;
            font-size: 1.6rem;
            text-decoration: none;
            .nav-bg-color();
            padding: 10px;

            &:hover {
                background-color: darken(royalblue, 5%);
                color: darken(black, 5%);
            }
        }
    }
}